.comapany {margin: 65px 0px 0px 0px;

    // .comapany__container

    &__container {
        max-width: 1260px;
        margin: 0 auto;
        padding: 0px 15px;
    }

    // .comapany__title

    &__title {
        font-weight: 500;
        font-size: rem(24);
        line-height: math.div(30 ,24 );
        color: $MainColorBlue;
        display: flex;
        justify-content: center;
        margin: 0px 0px 39px 0px;
        cursor: pointer;
    }

    // .comapany__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    // .comapany__row1

    &__row1 {
        display: flex;
        justify-content: space-between;
        @media (max-width: em(1072)){
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
    }

    // .comapany__block-cart


		// .comapany__block-button

		&__block-button {
            display: flex;
            justify-content: center;
		}

		// .comapany__button

		&__button {
            position: relative;
            width: 139px;
            height: 26.27px;
            color: $MainColorBlue;
            border: 0.3px solid #3257A4;
            box-shadow: 0px 3px 5px rgba(73, 122, 226, 0.25), 0px 0px 2px rgba(26, 62, 139, 0.25), inset 0px 0px 2px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
		}
        &__ico1{
            position: absolute;
            top: 10%;
            font-size: rem(20);
            right: 0;
            @extend %ic;
            @extend ._icon-arrow-right;
            &._active{
                transition: transform 0.3s ease-in-out;
                transform: rotate(90deg);
            }
        }

}
.cart-block {
    background: #FFFFFF;
    border: 0.2px solid #EFF5FE;
    box-shadow: 0px 20px 50px rgba(73, 122, 226, 0.2), inset 0px 0px 3px rgba(50, 87, 164, 0.25);
    border-radius: 15px;
    flex: 0 1 390px;
    &:hover{
        box-shadow: 21px 17px 8px 0px rgba(34, 60, 80, 0.2);
    }

    // .cart-block__body

    &__body {
        padding: 37px 39px 34px 40px;
    }

    // .cart-block__block-img

    &__block-img {
        margin: 0px 0px 39px 0px;
    }

    // .cart-block__img

    &__img {
        width: 100%;
        object-fit: cover;
    }

    // .cart-block__line2

    &__line2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .cart-block__title

    &__title {
        font-family: 'Geometria';
        font-weight: 500;
        font-size: rem(14);
        line-height: math.div(18 ,14 );
        color: $mainColor;
    }

    // .cart-block__icon
    &__block-icon{
        cursor: pointer;
    }

    &__icon {
        @extend %ic;
        @extend ._icon-arrow-right;
        font-size: rem(20);
        color: $MainColorBlue;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #3257A4;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(270deg);
    }
}
