//====================================================================================================
.header {

	// .header__container

	&__container {
		max-width: 1257px;
		margin: 0 auto;
		padding: 0px 15px;
		font-family: 'Geometria';
	}

	// .header__row1

	&__row1 {
		padding-top: 40px;
		padding-bottom: 23px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (max-width: em(422)){
			justify-content: center;
			gap: 10px;
		}
	}

	// .header__row2

	&__row2 {
		display: flex;
		color: black;
		text-decoration: none;
		align-items: flex-end;
	} 
	&__row2-blockleft {
	}
}
.row1-header {

	// .row1-header__blocklogo


	// .row1-header__katalog

	
	&__katalog {
		margin: 3px 0px 0px 0px;
		font-family: 'Geometria';
		display: flex;
		font-weight: 400;
		font-size: rem(14);
		line-height: math.div(18 ,14 );
		color: #111111;
	}

	// .row1-header__block-input
	&__katalogico{
		display: block;
		position: relative;
		width: 20px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $MainColorBlue;
		}
		&::after{
			content:'';
			transition: all 0.3s ease 0s;
			position: absolute;
			width: 80%;
			height: 2px;
			background-color: $MainColorBlue;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
			right: 0;
		}
		span {
			top: calc(50% - 1px);
		}
	}

	&__block-input {

	}

	// .row1-header__but
	// .row1-header__blocklink

	&__blocklink {
		@extend %ic;
		@extend ._icon-phone;
		color: $MainColorBlue;
	}

	// .row1-header__link

	&__link {
		color: $MainColorBlue;
	}

	// .row1-header__blocktelephone

	&__blocktelephone {
	}

	// .row1-header__telephone

	&__telephone {
		@media (max-width: em(765)){
			display: none;
		}
	}

	// .row1-header__blockicons

	&__blockicons {
		display: flex;
		gap: 5px;
		@media (max-width: em(978)){
			display: none;
		}
	}

	// .row1-header__icons1

	&__icons1 {
	}
}
.logo-block {
	display: flex;
	margin: 0px 80px 0px 0px;


	// .logo-block__ico1

	&__ico1 {
	}
}

.header-search{
	background: #FFFFFF;
	box-shadow: inset 0px 0px 3px rgba(50, 87, 164, 0.25);
	border-radius: 10px;
	position: relative;
	width: 314px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 0px 0px 30px;
	@media (max-width: em(992)){
		width: 200px;
	}
	@media (max-width: em(865)){
		width: 120px;
	}
	&__but{
		@extend %ic;
		position: absolute;
		@extend ._icon-zoom;
		width: 30px;
		height: 30px;
		color: black;
		left: 0;
		top: 15%;
	}
	&__input{
		width: 100%;
		font-family: 'Geometria';
		font-weight: 400;
		background: #FFFFFF;
		height: 30px;
		&::placeholder{
			color: black;
		}
	}
}
.menu {flex: 1 1;

	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		@media (max-width: em(1020)){
			display: flex;
			justify-content: center;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		z-index: 5;
		background-color:rgba(255, 255, 255, 0.808);
		overflow: auto;
		transition: left 0.5s ease 0s;
		z-index: 3;
		.menu-open & {
			left: 0;
		}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		@include adaptiveValue("gap",25 ,10 );
		@media (max-width: em(1015)){
			flex-direction: column;
			justify-content: space-evenly;
		}
	}

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
	}
}
.icon-menu {
	margin: 0px 0px 20px 0px;
}
.left-block {display: flex;


	// .left-block__list

	&__list {display: flex;
		gap: 31px;
		padding: 10px 0px 0px 0px;
	}

	// .left-block__item

	&__item {
	}
	&__item-ico{
		padding: 0px 0px 0px 30px;
	}
	&__item-ico2{
		padding: 0px 0px 0px 22px;
	}
	&__item-ico3{
		padding: 0px 0px 0px 50px;
	}

	// .left-block__link

	&__link {
	}
}

//====================================================================================================

//Burger
.icon-menu {
	@media (max-width:1020px ) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
